*{
    text-align: center;
}
h1{
color: rgb(233, 25, 18);
text-align: center;
font-size:30px;
font-family: 'Times New Roman', Times, serif;

}
img{
    width:1000px;
    height: 550px;

    
}

a{
    text-align: center;
    color: black;
}